<div class="order-details">
  <strong>{{ order.id }}</strong>
  <p>Status: {{ order.status }}</p>
  <div *ngIf="isAdmin" class="admin-actions">
    <select [(ngModel)]="orderStatus" name="orderStatus">
      <option *ngFor="let status of orderStatuses" [value]="status.status">{{status.status}}</option>
    </select>
    <button (click)="updateOrderStatus()">Update</button>
  </div>
  <p>Payment Method: {{ order.payment.paymentMethod }}</p>
  <p>Payment Status: {{ order.payment.status }}</p>
  <div class="order-items">
    <p>Ordered Items:</p>
    <div *ngFor="let item of order.orderItems">
      <p>{{ item.product.name }}</p>
    </div>
  </div>
</div>

