<div class="container">
  <div class="block">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="field">
        <input type="text" id="username" [(ngModel)]="username" placeholder="username">
      </div>
      <div class="field">
        <input type="password" id="password" [(ngModel)]="password" placeholder="password">
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Forgot <span style="color: #a6d0ff">Password?</span></p>
    <span style="color: #a6d0ff">Sign up</span>
  </div>
</div>
